body {
  /* 兼容Firefox避免拖动选中文本 */
  -moz-user-select: none;
}

.sjf-scroll-wrapper {
  width: 95%;
  position: relative;
  overflow: hidden;
}

.sjf-scroll-body {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.sjf-scroll-bg {
  z-index: 9999;
  position: absolute;
  width: 10px;
  right: 0px;
  top:  0px;
  border-radius: 5px;
  background: #e5e5e5;
}

.sjf-scroll-content {
  position: absolute;
  width: 10px;
  border-radius: 5px;
  background: #666;
  left: 0px;
  top: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.sjf-scroll-content:hover {
  background: #333;
}

.hide-old {
  display: none
}